/* HomePage.module.css */
.main {
  margin-top: -350px; /* מרווח כדי למנוע חפיפה עם ההדר */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.header {
  margin-bottom: 0px; /* או משהו קטן יותר */
}

.subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.actions button {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background-color: #be38cd;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 300px;
}

.actions button:hover {
  background-color: #380647;
}
