/* HomePage.module.css */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}

.main {
  margin-top: 60px; /* מרווח כדי למנוע חפיפה עם ההדר */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.actions button {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #be38cd;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.actions button:hover {
  background-color: #380647;
}
