.appHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #81188f;
  color: white;
  padding: 10px 20px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.appNav {
  display: flex;
  gap: 15px;
}

.appLink {
  text-decoration: none;
  color: white;
}

.aboutUs {
  font-size: 1.2rem;
}

.material-icons {
  font-size: 30px;
  color: white;
}
