.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  margin-top: 30px;
  padding: 10px;
}

.gridItem {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lookImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.lookItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridImage {
  width: 120px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 5px;
}

.gridText {
  font-size: 1rem;
  color: #5c4a4a;
  font-weight: bold;
  text-align: center;
}

/*  驻转专 住专拽 */
.scanButton {
  padding: 10px 20px;
  background-color: #c7a296;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scanButton:hover {
  background-color: #a8776e;
}
