.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 30px;
  padding: 10px;
}

.gridItem {
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gridImage {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

.gridText {
  font-size: 1.2rem;
  margin-bottom: 12px;
  color: #5c4a4a;
  font-weight: bold;
}

/*  注爪 驻转专 转 专注 */
.scanButton {
  padding: 10px 20px;
  background-color: #c7a296;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scanButton:hover {
  background-color: #a8776e;
}
